//! @file title.less
//! @brief The post title.
//! @details
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// USAGE
// ---------------------------------------------------------------------------------------------------------------------
/*
  <div id="title"><a href="">Title of the article</a></div>
*/

// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
#title {
  font-size: @font-size-largest;
  font-weight: bold;
  color: @gray;
  text-align: left;
  border-bottom: 1px solid @gray-light;
  margin-bottom: @gutter;
  padding-bottom: 10px;
}

#title.dark {
  color: @gray-darker;
}