//! @file base.less
//! @brief Base styles.
//! @details
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------

// html
html {
  height: 100%;
}


// body
body {
  height: 100%;

  margin: 0;

  color: @text-color;

  background-color: @body-background;
  background-image: none;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat no-repeat;

  text-align: middle;

  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height;
}


// a
a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-color-hover;
    text-decoration: underline;
  }

  &:focus {
    .tab-focus();
  }
}


// hr
hr {
  margin-top: 0;
  margin-bottom: @gutter;
  border: 0;
  border-top: 1px solid @gray-lighter;
}

hr.fade {
  border: none;
  height: 1px;
  background: -moz-linear-gradient(right, @gray 0%, @gray-light 0%, white 95%);
  background: -webkit-linear-gradient(right, @gray 0%, @gray-light 0%, white 95%);
  background: linear-gradient(to left, @gray 0%, @gray-light 0%, white 95%);
}


// p
p {
  margin: 0 0 15px 0;
}


// blockquote
blockquote {
  //background-color: lighten(@gray-lighter, 5%);
  //border-left: 2px solid @gray-light;
  //border: 1px solid lighten(@gray-lighter, 5%);
  //.border-radius(2px);
  margin: 0 20px 10px 20px;
  font-family: FontAwesome;
  font-size: @font-size-base;
  color: @gray;
}

blockquote:before {
  content: "\F10D";
  color: @gray-light;
  vertical-align: super;
}

blockquote:after {
  content: "\F10E";
  color: @gray-light;
  vertical-align: sub;
  margin-left: 2px;
}

blockquote p {
  display: inline;
  font-size: @font-size-base;
  line-height: @line-height;
}


// ---------------------------------------------------------------------------------------------------------------------
// MIXINS
// ---------------------------------------------------------------------------------------------------------------------

// Reset filter for IE.
// When you need to remove a gradient background, do not forget to use this to reset the IE filter for IE9 and below.
.reset-filter() {
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
