//! @file forms.less
//! @brief Forms.
//! @details Based on the work of Francesco Schwarz.
//! @author Francesco Schwarz
//! @see https://github.com/isellsoap/forms.css
//! @copyright 3F s.a.s. di Filippo Fadda


//----------------------------------------------------------------------------------------------------------------------
// COMMON STYLES
//----------------------------------------------------------------------------------------------------------------------

form,
input,
select,
textarea,
button {
  font-family: @font-family-base;
  font-size: @font-size-large; // Don't fuckin change this!
  line-height: @input-line-height !important; // Don't fuckin change this!
}

// I list all input types one by one and not just “input”, because I don’t want to address input types “file” and “range”.
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -moz-background-clip: padding;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
  display: inline-block;
  .box-sizing(border-box);
  padding: 2px 4px 2px 4px; // Don't fuckin change this!
  background-color: white;
  border: 1px solid @input-border-color;
  .border-radius(4px);
  font:1em/1.5 "Helvetica neue", Arial, sans-serif; // Don't fuckin change this!
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
select:focus,
select[size]:focus,
textarea:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  border-color: @input-outline-color;
  outline: 0;
  z-index: 1;
}


//----------------------------------------------------------------------------------------------------------------------
// CHECKBOX
//----------------------------------------------------------------------------------------------------------------------

input[type='checkbox'],
input[type='radio'] {
  // A font size of 100% (as specified in the first rule set) would render check boxes and radio buttons bigger in Webkit
  // browsers (Mac OS X).
  font-size: .6875em;
  position: relative; // Needed for browser specific positioning later on.
  vertical-align: middle; // Improves consistency in all browsers.
}

// Opera (Mac OS X) needs this. See: https://github.com/nathansmith/formalize/issues/45.
input[type='checkbox'] {
  margin: 2px 1px;
}

input[type='radio'] {
  margin: 1px;
}


//----------------------------------------------------------------------------------------------------------------------
// SELECT
//----------------------------------------------------------------------------------------------------------------------

select[multiple],
select[size],
textarea {
  height: auto;
}

// See: https://github.com/nathansmith/formalize/issues/42.
select[size='0'],
select[size='1'] {
  height: 1.8em;
}

select[multiple] {
  height: auto;
}

// Only Firefox understands this. Result: Opera and IE have italic font style, WebKit and Firefox normal font style.
optgroup {
  font-style: normal;
  font-weight: 700;
}


//----------------------------------------------------------------------------------------------------------------------
// TEXTAREA
//----------------------------------------------------------------------------------------------------------------------
textarea {
  min-height: 5em;
  overflow: auto; // Removes default vertical scrollbar in IE browsers.
  resize: vertical;
  width: 100%;
}


//----------------------------------------------------------------------------------------------------------------------
// BUTTONS
//----------------------------------------------------------------------------------------------------------------------
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  vertical-align: middle;
  padding: 4px 8px 4px 8px; // Don't fuckin change this!
  zoom: 1;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: normal;
  line-height: @button-line-height !important;
  text-shadow: white 0 1px 1px;
  overflow: visible;
  border: none;
  .border-radius(2px);
  color: @gray-dark;
  #gradient > .vertical(lighten(@gray-light, 5%), @gray-light);
  text-decoration: none;
}

// “Pushed in” effect for active state.
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  #gradient > .vertical(@gray-light, darken(@gray-light, 5%));
}

// Fallback for browsers not supporting gradients (like IE 9).
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}


//----------------------------------------------------------------------------------------------------------------------
// STATES
//----------------------------------------------------------------------------------------------------------------------
input[type='color'][disabled],
input[type='date'][disabled],
input[type='datetime'][disabled],
input[type='datetime-local'][disabled],
input[type='email'][disabled],
input[type='month'][disabled],
input[type='number'][disabled],
input[type='password'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='time'][disabled],
input[type='url'][disabled],
input[type='week'][disabled],
select[disabled],
textarea[disabled] {
  background-color: #eee !important;
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
button[disabled] {
  color: #888;
  cursor: default;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto @input-outline-color;
}

input[readonly],
select[readonly],
textarea[readonly] {
  background: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: @input-border-color;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #B94A48;
  border-color: #EE5F5B;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #E9322D;
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #E9322D;
}


//----------------------------------------------------------------------------------------------------------------------
// WEBKIT SPECIFIC STUFF
//----------------------------------------------------------------------------------------------------------------------
@media (-webkit-min-device-pixel-ratio: 0) {

  input[type='checkbox'] {
    top: -1px;
  }

  input[type='radio'] {
    top: -2px;
  }

  input[type='search'] {
    -webkit-appearance: none;
  }

  input[type='search']::-webkit-search-decoration {
    display: none;
  }

  select {
    -webkit-appearance: none;
    border-radius: 0;
  }

  // See: https://github.com/nathansmith/formalize/issues/44.
  select[multiple],
  select[multiple][size],
  select[size] {
    background-image: none;
    padding-right: 3px;
  }

  ::-webkit-input-placeholder {
    color: #888;
  }

}

// Chrome (as of v.32/34 on OS X) needs additional room for color to display. May be able to remove this tweak as color
// inputs become more standardized across browsers.
input[type="color"] {
  padding: 0.2em 0.5em;
}


//----------------------------------------------------------------------------------------------------------------------
// FIREFOX SPECIFIC STUFF
//----------------------------------------------------------------------------------------------------------------------
@-moz-document url-prefix() {
  input[type='checkbox'] {
    top: -2px;
  }
  input[type='radio'] {
    top: -1px;
  }
}

// Fix a Firefox bug to vertical align the text to middle.
@-moz-document url-prefix() {
  input[type="button"],
  input[type="submit"],
  button {
    padding-bottom: 5px;
  }
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: @gray-light;
}


//----------------------------------------------------------------------------------------------------------------------
// FIELDSET
//----------------------------------------------------------------------------------------------------------------------

fieldset {
  border: 1px solid @gray-light;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-bottom: 15px;
  border: 0;
}


//----------------------------------------------------------------------------------------------------------------------
// LEGEND
//----------------------------------------------------------------------------------------------------------------------

legend {
  color: @gray-light;
  padding: 0 .5em;
  display: block;
  width: 100%;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #e5e5e5;
}


//----------------------------------------------------------------------------------------------------------------------
// LABELS
//----------------------------------------------------------------------------------------------------------------------

label {
  display: block;
  font-weight: bold;
  color: @gray-darker;
}

input + label {
  margin-top: 5px;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
  margin: 0 5px 0 0;
}



//.frm-stacked input[type="text"],
//.frm-stacked input[type="password"],
//.frm-stacked input[type="email"],
//.frm-stacked input[type="url"],
//.frm-stacked input[type="date"],
//.frm-stacked input[type="month"],
//.frm-stacked input[type="time"],
//.frm-stacked input[type="datetime"],
//.frm-stacked input[type="datetime-local"],
//.frm-stacked input[type="week"],
//.frm-stacked input[type="number"],
//.frm-stacked input[type="search"],
//.frm-stacked input[type="tel"],
//.frm-stacked input[type="color"],
//.frm-stacked select,
//.frm-stacked label,
//.frm-stacked textarea {
//  display: block;
//}
//
//// Need to separate out the :not() selector from the rest of the CSS 2.1 selectors since IE8 won't execute CSS that
//// contains a CSS3 selector.
//.frm-stacked input:not([type]) {
//  display: block;
//  margin: 0.25em 0;
//}
//
//.frm-aligned input,
//.frm-aligned textarea,
//.frm-aligned select,
//.frm-message-inline {
//  display: inline-block;
//  *display: inline;
//  *zoom: 1;
//  vertical-align: middle;
//}
//
//.frm-aligned textarea {
//  vertical-align: top;
//}
//
//// Inline help for forms.
//.frm-message-inline {
//  display: inline-block;
//  padding-left: 0.3em;
//  color: #666;
//  vertical-align: middle;
//  font-size: 0.875em;
//}
//
//// Block help for forms.
//.frm-message {
//  display: block;
//  color: #666;
//  font-size: 0.875em;
//}