//! @file forms.less
//! @brief Forms.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// SETTINGS
// ---------------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.frm input[type="text"],
.frm input[type="password"],
.frm input[type="email"],
.frm input[type="url"],
.frm input[type="date"],
.frm input[type="month"],
.frm input[type="time"],
.frm input[type="datetime"],
.frm input[type="datetime-local"],
.frm input[type="week"],
.frm input[type="number"],
.frm input[type="search"],
.frm input[type="tel"],
.frm input[type="color"],
.frm select,
.frm textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid @input-border-color;
  .border-radius(4px);
  .box-sizing(border-box);
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.frm input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid @input-border-color;
  .border-radius(4px);
  .box-sizing(border-box);
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.frm input[type="color"] {
  padding: 0.2em 0.5em;
}


.frm input[type="text"]:focus,
.frm input[type="password"]:focus,
.frm input[type="email"]:focus,
.frm input[type="url"]:focus,
.frm input[type="date"]:focus,
.frm input[type="month"]:focus,
.frm input[type="time"]:focus,
.frm input[type="datetime"]:focus,
.frm input[type="datetime-local"]:focus,
.frm input[type="week"]:focus,
.frm input[type="number"]:focus,
.frm input[type="search"]:focus,
.frm input[type="tel"]:focus,
.frm input[type="color"]:focus,
.frm select:focus,
.frm textarea:focus {
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  border-color: @input-outline-color;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.frm input:not([type]):focus {
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  border-color: @input-outline-color;
}

.frm input[type="file"]:focus,
.frm input[type="radio"]:focus,
.frm input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto @input-outline-color;
}
.frm .pure-checkbox,
.frm .pure-radio {
  margin: 0.5em 0;
  display: block;
}

.frm input[type="text"][disabled],
.frm input[type="password"][disabled],
.frm input[type="email"][disabled],
.frm input[type="url"][disabled],
.frm input[type="date"][disabled],
.frm input[type="month"][disabled],
.frm input[type="time"][disabled],
.frm input[type="datetime"][disabled],
.frm input[type="datetime-local"][disabled],
.frm input[type="week"][disabled],
.frm input[type="number"][disabled],
.frm input[type="search"][disabled],
.frm input[type="tel"][disabled],
.frm input[type="color"][disabled],
.frm select[disabled],
.frm textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.frm input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.frm input[readonly],
.frm select[readonly],
.frm textarea[readonly] {
  background: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: @input-border-color;
}

.frm input:focus:invalid,
.frm textarea:focus:invalid,
.frm select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.frm input:focus:invalid:focus,
.frm textarea:focus:invalid:focus,
.frm select:focus:invalid:focus {
  border-color: #e9322d;
}
.frm input[type="file"]:focus:invalid:focus,
.frm input[type="radio"]:focus:invalid:focus,
.frm input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.frm select {
  border: 1px solid @input-border-color;
  background-color: white;
}
.frm select[multiple] {
  height: auto;
}
.frm label {
  font-weight: bold;
  color: @gray-darker;
}
.frm fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  border: 0;
}
.frm legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: @gray-dark;
  border-bottom: 1px solid #e5e5e5;
}

.frm-stacked input[type="text"],
.frm-stacked input[type="password"],
.frm-stacked input[type="email"],
.frm-stacked input[type="url"],
.frm-stacked input[type="date"],
.frm-stacked input[type="month"],
.frm-stacked input[type="time"],
.frm-stacked input[type="datetime"],
.frm-stacked input[type="datetime-local"],
.frm-stacked input[type="week"],
.frm-stacked input[type="number"],
.frm-stacked input[type="search"],
.frm-stacked input[type="tel"],
.frm-stacked input[type="color"],
.frm-stacked select,
.frm-stacked label,
.frm-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.frm-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.frm-aligned input,
.frm-aligned textarea,
.frm-aligned select,
.frm-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.frm-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.frm-aligned .pure-control-group {
  margin-bottom: 0.5em;
}
.frm-aligned .pure-control-group label {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  //width: 10em;
  margin: 0 1em 0 0;
}
.frm-aligned .pure-controls {

}

/* Grouped Inputs */
.frm .pure-group fieldset {
  margin-bottom: 10px;
}
.frm .pure-group input {
  display: block;
  padding: 10px;
  margin: 0;
  .border-radius(0);
  position: relative;
  top: -1px;
}
.frm .pure-group input:focus {
  z-index: 2;
}
.frm .pure-group input:first-child {
  top: 1px;
  .border-radius(4px 4px 0 0);
}
.frm .pure-group input:last-child {
  top: -2px;
  .border-radius(0 0 4px 4px);
}
.frm .pure-group button {
  margin: 0.35em 0;
}

.frm .pure-input-1 {
  width: 100%;
}
.frm .pure-input-2-3 {
  width: 66%;
}
.frm .pure-input-1-2 {
  width: 50%;
}
.frm .pure-input-1-3 {
  width: 33%;
}
.frm .pure-input-1-4 {
  width: 25%;
}

/* Inline help for forms */
.frm-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.frm-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}
