.page-title {
  font-size: @font-size-largest;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid @gray-light;
  margin-bottom: @gutter;
  padding-bottom: 7px;
  padding-left: 5px;
}



.pippo {
  background-color: @gray-lighter;
  .opacity(95);
  border-top: 1px solid darken(@gray-lighter, 5%);
  border-bottom: 1px solid darken(@gray-lighter, 5%);
}


.button {
  min-width: 30px;
  text-align: center;

  font-weight: bold;
  font-size: @font-size-base !important;

  color: @gray;
  #gradient > .vertical(lighten(@gray-lighter, 5%), @gray-lighter);

  border: 1px solid darken(@gray-lighter, 5%);
  .border-radius(2px);

  &:hover,
  &:focus {
    color: @gray-dark;
    #gradient > .vertical(@gray-lighter, darken(@gray-lighter, 5%));
    border: 1px solid darken(@gray-lighter, 10%);
  }
}