//! @file user-profile.less
//! @brief The user styles.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.user-profile {
  float: left;
  width: @inner-width - @user-inventory-width;
  text-align: left;
  color: @gray-dark;
}

.user-name {
  display: block;
  font-size: @font-size-largest;
  font-weight: bold;
}


.user-reputation {
  padding: 10px;
  background-color: @gray-lighter;
  margin: @gutter 0 @gutter 0;
  .border-radius(4px);
}

.user-points {
  display: block;
  text-align: center;
  line-height: @font-size-base;
}

.user-points > div {
  font-size: @font-size-base * 3;
  line-height: @font-size-base * 3;
  font-weight: bold;
}

.user-badges {
  display: block;
  margin-top: @gutter / 2;
  font-size: @font-size-largest;
  font-weight: bold;
  text-align: center;
}

.user-badges > * + * {
  margin-left: @gutter - 5;
}


.user-about {

}