//! @file item-img.less
//! @brief Item's image.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.item-img {
  float: left;
  margin-right: 10px;
}

.item-img > img {
  width: 160px;
  height: 100px;
}