//! @file item-connect.less
//! @brief The style for the CONNECT button on the member's card.
//! @author Filippo F. Fadda
//! @copyright REINDEX LTD


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.item-connect {
  float: right !important;
  position: relative;
  margin-top: -37px;
}


// ---------------------------------------------------------------------------------------------------------------------
// USAGE
// ---------------------------------------------------------------------------------------------------------------------
// <div class="item-connect"><button class="btn blue mini">CONNECT</button></div>