//! @file linkedin.less
//! @brief LinkedIn button.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// SETTINGS
// ---------------------------------------------------------------------------------------------------------------------
@linkedin-color: #1D87BD;


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
#linkedin-btn {
  background-color: @linkedin-color;
  text-shadow: 0 -1px lighten(@linkedin-color, 20%);
}

#linkedin-btn:hover,
#linkedin-btn:active {
  background-color: darken(@linkedin-color, 5%);
}

#linkedin-btn .logo {
  background-color: lighten(@linkedin-color, 10%);
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../img/linkedin.png');
}