.score {
  font-size: 28px;
  font-weight: 500;
  padding: 0;
}

table#emails {
  width: 100%;
}

table#emails td {
  padding: 0 10px 5px 0;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-family: @font-family-base;
  font-size: @font-size-base;

  &:nth-child(2) {
    font-size: @font-size-mini;
  }

  &:nth-child(3), :nth-child(4), :nth-child(5) {
    text-align: center;
  }

  &:nth-child(4), :last-child {
    padding-right: 0 !important;
  }
}