.score {
  font-size: 28px;
  font-weight: 500;
  padding: 0;
}

.connect {
  position: absolute;
  width: 110px;
  top: 100px;
  left: 5px;
  .box-sizing(border-box);
  padding: 5px 10px;
  font-weight: 600;
  color: white;
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
}

.connect:hover,
.connect:focus {
  color: white;
  text-decoration: none;
  opacity: 1;
  filter: none;
}

.connect i {
  padding-right: 10px;
}