//! @file utils.less
//! @brief Utility classes.
//! @details
//! @author Filippo F. Fadda
//! @copyright REINDEX LTD


// ---------------------------------------------------------------------------------------------------------------------
// FLOATING
// ---------------------------------------------------------------------------------------------------------------------

// Pulls the content to the right.
.pull-right {
  float: right !important;
}

// Pulls the content to the left.
.pull-left {
  float: left !important;
}


// ---------------------------------------------------------------------------------------------------------------------
// ALIGNMENT
// ---------------------------------------------------------------------------------------------------------------------

// Aligns text to the right.
.align-right {
  text-align: right !important;
}

// Aligns text to the left.
.align-left {
  text-align: left !important;
}


// ---------------------------------------------------------------------------------------------------------------------
// MARGIN-TOP
// ---------------------------------------------------------------------------------------------------------------------

// Resets the top margin to gutter.
.margin-top {
  margin-top: @gutter !important;
}

// Resets the top margin to zero.
.no-margin-top {
  margin-top: 0 !important;
}

.mini-margin-top {
  margin-top: @gutter / 3 !important;
}

.half-margin-top {
  margin-top: @gutter / 2 !important;
}


// ---------------------------------------------------------------------------------------------------------------------
// GUTTER
// ---------------------------------------------------------------------------------------------------------------------

// Resets the bottom margin to gutter.
.gutter {
  margin-bottom: @gutter !important;
}

// Resets the bottom margin to zero.
.no-gutter {
  margin-bottom: 0 !important;
}

.mini-gutter {
  margin-bottom: @gutter / 3 !important;
}

.half-gutter {
  margin-bottom: @gutter / 2 !important;
}

// Increments the bottom margin of 5 pixels.
.gutter-plus {
  margin-bottom: @gutter + 10 !important;
}

.gutter-minus {
  margin-bottom: @gutter - 6 !important;
}


// ---------------------------------------------------------------------------------------------------------------------
// FONT SIZE
// ---------------------------------------------------------------------------------------------------------------------

// Sets a large font size.
.largest {
  font-size: @font-size-largest !important;
}

// Sets a large font size.
.large {
  font-size: @font-size-large !important;
}

// Sets a small font size.
.base {
  font-size: @font-size-base !important;
}

// Sets a small font size.
.small {
  font-size: @font-size-small !important;
}

// Sets a mini font size.
.mini {
  font-size: @font-size-mini !important;
}


// ---------------------------------------------------------------------------------------------------------------------
// VISIBILITY
// ---------------------------------------------------------------------------------------------------------------------

// Hides content.
.hide {
  display: none !important;
}

// Shows content.
.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  .hide-text();
}


// ---------------------------------------------------------------------------------------------------------------------
// AFFIX PLUGIN
// ---------------------------------------------------------------------------------------------------------------------

// For Affix plugin.
.affix {
  position: fixed;
}