//! @file topbar.less
//! @brief Navigation bar.
//! @details
//! @author Filippo F. Fadda
//! @copyright REINDEX LTD


// ---------------------------------------------------------------------------------------------------------------------
// SETTINGS
// ---------------------------------------------------------------------------------------------------------------------
@topbar-color: black;
@topbar-background-color: lighten(@gray-lighter, 7%);
@topbar-border-color: white;
@topbar-min-height: 34px;
@topbar-padding-top: 4px;
@topbar-padding-bottom: 4px;
@topbar-height: @topbar-min-height + @topbar-padding-top + @topbar-padding-bottom;


// ---------------------------------------------------------------------------------------------------------------------
// USAGE
// ---------------------------------------------------------------------------------------------------------------------
/*
  <nav class="topbar">
    <ul class="list">
      <li><a class="logo" href="/" target="_self"><img src="{{ dist }}/img/brand.png" width="29" height="30"></a></li>
      <li>
        <form class="topbar-search" method="get" action="search.php" autocomplete="off" name="form_search">
          <input class="" type="search" placeholder="Search" autocomplete="on" id="keyword" name="keyword">
          <i class="icon-search"></i>
        </form>
      </li>
      <li><a class="link" href="//{{ domainName }}/blogs/">Blogs</a></li>
      <li><a class="link" href="//{{ domainName }}/articles/">Articles</a></li>
      <li><a class="link" href="//{{ domainName }}/tags/"><i class="icon-tags"></i>&nbsp;Tags</a></li>
      <li><a class="link" href="//{{ domainName }}/users/"><i class="icon-group"></i>&nbsp;Users</a></li>
      <li class="space"></li>
      {% if user.isMember() %}
        {% set userUri = '//'~domainName~'/users/'~user.username %}
      <li>
        <button class="btn btn-icon blue" data-dropdown="#dropdown-user"><img class="gravatar" src="{{ user.getGravatar(user.emails.getPrimary()) }}&s=20"></button>
        <div id="dropdown-user" class="dropdown dropdown-relative dropdown-anchor-right dropdown-tip">
          <ul class="dropdown-menu">
            <li><span>Signed in as<br><b>{{ user.username }}</b></span></li>
            <li class="dropdown-divider"></li>
            <li><a href="{{ userUri }}"><i class="icon-home"></i>Timeline</a></li>
            <li class="dropdown-divider"></li>
            <li><a href="{{ userUri }}/about/"><i class="icon-user"></i>Profile</a></li>
            <li><a href="{{ userUri }}/connections/"><i class="icon-group"></i>Connections</a></li>
            <li><a href="{{ userUri }}/repositories/"><i class="icon-github"></i>Repositories</a></li>
            <li class="dropdown-divider"></li>
            <li><a href="{{ userUri }}/settings/"><i class="icon-wrench"></i>Settings</a></li>
            <li><button><i class="icon-gears"></i>Administration</button></li>
            <li class="dropdown-divider"></li>
            <li><a href="//{{ domainName }}/signout/"><i class="icon-signout"></i>Sign Out</a></li>
          </ul>
        </div>
      </li>
      <li><button class="btn btn-icon blue" title="messages and notifications" data-dropdown="#dropdown-inbox"><i class="icon-inbox icon-large"></i></button></li>
      {% else %}
      <li><a class="link" href="//{{ domainName }}/logon/"><i class="icon-signin"></i> Log In</a></li>
      {% endif %}
    </ul>
  </nav>
*/


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  text-align: left;
  //.box-sizing(border-box);
  //border-top: 1px solid transparent;
  border-bottom: 1px solid @topbar-border-color;
  #gradient > .vertical(@topbar-background-color, darken(@topbar-background-color, 5%));
  z-index: @topbar-zindex;
  .user-select(none);
}

.topbar > ul {
  margin-right: auto;
  margin-left: auto;

  padding-top: @topbar-padding-top;
  padding-bottom: @topbar-padding-bottom;

  width: @total-width;
  height: @topbar-min-height;

  vertical-align: middle;
}

.topbar > ul > li  {
}

.topbar > ul > li > a.link {
  margin-left: 10px;
  padding-top: 2px;
  color: @gray;
  font-weight: 500;

  &:hover,
  &:focus {
    color: @link-color-hover;
  }
}

.topbar .logo {
  margin: 0;
  padding: 0;

  > img {
    vertical-align: middle;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// SEARCH INPUT
// ---------------------------------------------------------------------------------------------------------------------

.topbar-search {
  padding-top: 2px;
  color: @gray-dark !important;
}

.topbar-search + a {
  margin-left: 10px !important;
}

.topbar-search input {
  margin-left: 10px;
  margin-right: -17px;
  padding-right: 23px;
  font-weight: normal;
  width: 300px;
  .border-radius(2px);
  vertical-align: middle;
}

.topbar-search > [class^="icon-"] {
  position: relative;
  vertical-align: middle;

  &:last-child {
    left: -7px;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// WEBKIT SPECIFIC STYLES (CHROME, SAFARI, OPERA, ETC.)
// ---------------------------------------------------------------------------------------------------------------------
@media (-webkit-min-device-pixel-ratio: 0) {

  .topbar > ul > li > ul  {
    padding-top: 1px;
  }

}


// ---------------------------------------------------------------------------------------------------------------------
// MOZILLA SPECIFIC STYLES (FIREFOX, ETC.)
// ---------------------------------------------------------------------------------------------------------------------
@-moz-document url-prefix() {

}