//! @file item-section.less
//! @brief Every item belongs to a section.
//! @details This is the float pill containing the section's name.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.item-section {
  float: right;
  padding: 0 5px 0 5px;

  font-size: @font-size-mini;
  font-weight: bold;
  text-align: center;

  background-color: @gray-lighter;
  color: @gray;

  //.border-radius(4px);
}

// ---------------------------------------------------------------------------------------------------------------------
// SUBCLASSES
// ---------------------------------------------------------------------------------------------------------------------
.item-section.question {
  background-color: red;
  color: white;
}

.item-section.link {
  background-color: @link-color;
  color: white;
}

.item-section.article {
  background-color: #4CAE4C;
  color: white;
}

.item-section.book {
  background-color: saddlebrown;
  color: white;
}

.item-section.tutorial {
  background-color: pink;
  color: @gray-dark;
}