//! @file item-body.less
//! @brief Item's body.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.item-body {
  margin-top: 4px;
  display: block;
  white-space: normal;
  text-align: justify;
  line-height: @line-height-base - 2;
  min-height: 14px;
  margin-bottom: @gutter;
}

.item-body > .positive,
.item-body > .negative {
  padding-top: @gutter / 2;
}

.item-body > .positive {
  border-top: 1px dashed @gray-light;
}

.item-body > .negative {
  border-bottom: 1px dashed @gray-light;
  padding-bottom: @gutter / 2;
}

.item-body > .positive:before,
.item-body > .negative:before {
  font-family: FontAwesome;
  font-size: @font-size-large;
  color: @gray-light;
  vertical-align: top;
  margin-right: 2px;
}

.item-body > .positive:before {
  content: "\f164";
}

.item-body > .negative:before {
  content: "\f165";
}