//! @file highlight.less
//! @brief An highlight.
//! @author Filippo F. Fadda
//! @copyright REINDEX LTD


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.highlight {
  padding: 3px 5px 3px 5px;
  color: white;
  background-color: @gray;
  .border-radius(1px);
  white-space: nowrap;
  font-size: @font-size-mini;
  font-weight: bold;
  text-align: center;
  width: auto;
}


// ---------------------------------------------------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------------------------------------------------
.highlight.yellow {
  background-color: @yellow;
}

.highlight.red {
  background-color: @red;
}

.highlight.blue {
  background-color: @blue;
}

.highlight.orange {
  background-color: @orange;
}

.highlight.green {
  background-color: @green;
}


// ---------------------------------------------------------------------------------------------------------------------
// SITES
// ---------------------------------------------------------------------------------------------------------------------
.highlight.facebook {
  background-color: @facebook-color;
}

.highlight.linkedin {
  background-color: @linkedin-color;
}

.highlight.github {
  background-color: @github-color;
}

.highlight.google {
  background-color: @google-color;
}

.highlight.twitter {
  background-color: @twitter-color;
}