//! @file highlight.less
//! @brief An highlight.
//! @author Filippo F. Fadda
//! @copyright REINDEX LTD


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.highlight {
  padding: 2px 4px 2px 4px;
  color: @gray-darker;
  background-color: @gray-lighter;
  .border-radius(2px);
  white-space: nowrap;
}

.highlight.yellow {
  background-color: @yellow;
}

.highlight.red {
  color: white;
  background-color: @red;
}

.highlight.blue {
  background-color: @blue;
}

.highlight.orange {
  background-color: @orange;
}

.highlight.green {
  background-color: @green;
}