//! @file tag.less
//! @brief A tag.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda

// ---------------------------------------------------------------------------------------------------------------------
// SETTINGS
// ---------------------------------------------------------------------------------------------------------------------
@obscuring-percentage: 5%;
@obscuring-percentage-double: @obscuring-percentage * 2;

@tag-link-color: skyblue;
@tag-question-color: pink;
@tag-article-color: #FFD700;
@tag-book-color: #FFA770;


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.tag {
  display: inline-block;
  padding: 4px 5px 4px 5px !important;
  vertical-align: middle;
  text-transform: lowercase;
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: normal;
  line-height: 1;
  .border-radius(1px);

  color: @link-color;
  background-color: @gray-lighter;

  border-top: 0;
  border-left: 0;
  border-bottom: 1px solid darken(@gray-lighter, @obscuring-percentage);
  border-right: 1px solid darken(@gray-lighter, @obscuring-percentage);

  &:hover,
  &:focus {
    text-decoration: none;

    color: @link-color-hover;
    background-color: darken(@gray-lighter, @obscuring-percentage);

    border-bottom-color: darken(@gray-lighter, @obscuring-percentage-double);
    border-right-color: darken(@gray-lighter, @obscuring-percentage-double);
  }
}

// A tag that doesn't change on hover.
.tag.hoverless {
  &:hover,
  &:focus {
    color: @link-color;
    background-color: @gray-lighter;

    border-bottom-color: darken(@gray-lighter, @obscuring-percentage);
    border-right-color: darken(@gray-lighter, @obscuring-percentage);
  }
}

// A nameless tag.
.tag > i.nameless {
  text-align: center;
  display: inline-block;
  min-width: 13px;
}

// The popularity of a tag.
.popularity {
  color: @gray;
  vertical-align: middle;
  border-top: 1px solid transparent;
}

// The tag's excerpt.
.excerpt {
  padding-top: 2px;
  font-size: @font-size-mini !important;
  color: @gray-dark;
}


// ---------------------------------------------------------------------------------------------------------------------
// SUBCLASSES
// ---------------------------------------------------------------------------------------------------------------------
.tag.alt {
  background-color: lightgray;
  color: @gray-dark;

  border-bottom-color: darken(lightgray, @obscuring-percentage);
  border-right-color: darken(lightgray, @obscuring-percentage);

  &:hover,
  &:focus {
    color: @gray-dark;
    background-color: darken(lightgray, @obscuring-percentage);

    border-bottom-color: darken(lightgray, @obscuring-percentage-double);
    border-right-color: darken(lightgray, @obscuring-percentage-double);
  }
}

.tag.facebook {
  color: @facebook-color;

  &:hover,
  &:focus {
    color: @facebook-color;
  }
}

.tag.twitter {
  color: @twitter-color;

  &:hover,
  &:focus {
    color: @twitter-color;
  }
}

.tag.google {
  color: @google-color;

  &:hover,
  &:focus {
    color: @google-color;
  }
}

.tag.linkedin {
  color: @linkedin-color;

  &:hover,
  &:focus {
    color: @linkedin-color;
  }
}

.tag.rss {
  color: @rss-color;

  &:hover,
  &:focus {
    color: @rss-color;
  }
}

.tag.link {
  background-color: @tag-link-color;
  color: @gray-dark;

  border-bottom-color: darken(@tag-link-color, @obscuring-percentage);
  border-right-color: darken(@tag-link-color, @obscuring-percentage);

  &:hover,
  &:focus {
    color: @gray-dark;
    background-color: darken(@tag-link-color, @obscuring-percentage);

    border-bottom-color: darken(@tag-link-color, @obscuring-percentage-double);
    border-right-color: darken(@tag-link-color, @obscuring-percentage-double);
  }
}

.tag.question {
  background-color: @tag-question-color;
  color: @gray-dark;

  border-bottom-color: darken(@tag-question-color, @obscuring-percentage);
  border-right-color: darken(@tag-question-color, @obscuring-percentage);

  &:hover,
  &:focus {
    color: @gray-dark;
    background-color: darken(@tag-question-color, @obscuring-percentage);

    border-bottom-color: darken(@tag-question-color, @obscuring-percentage-double);
    border-right-color: darken(@tag-question-color, @obscuring-percentage-double);
  }
}

.tag.article {
  background-color: @tag-article-color;
  color: @gray-dark;

  border-bottom-color: darken(@tag-article-color, @obscuring-percentage);
  border-right-color: darken(@tag-article-color, @obscuring-percentage);

  &:hover,
  &:focus {
    color: @gray-dark;
    background-color: darken(@tag-article-color, @obscuring-percentage);

    border-bottom-color: darken(@tag-article-color, @obscuring-percentage-double);
    border-right-color: darken(@tag-article-color, @obscuring-percentage-double);
  }
}

.tag.book {
  background-color: @tag-book-color;
  color: @gray-dark;

  border-bottom-color: darken(@tag-book-color, @obscuring-percentage);
  border-right-color: darken(@tag-book-color, @obscuring-percentage);

  &:hover,
  &:focus {
    color: @gray-dark;
    background-color: darken(@tag-book-color, @obscuring-percentage);

    border-bottom-color: darken(@tag-book-color, @obscuring-percentage-double);
    border-right-color: darken(@tag-book-color, @obscuring-percentage-double);
  }
}