//! @file column-left.less
//! @brief Left column.
//! @details
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.column-left {
  float: left;
  width: @inner-width - @column-right-width;
  text-align: left;
}

.column-left.expanded {
  width: @inner-width - @column-right-width + @column-right-reduce;
}