//! @file content.less
//! @brief The page's content.
//! @author Filippo F. Fadda
//! @copyright REINDEX LTD


// ---------------------------------------------------------------------------------------------------------------------
// SETTINGS
// ---------------------------------------------------------------------------------------------------------------------
@content-border-width: 0;
@content-background-color: white;
@content-border-color: @gray;

@total-width: 1010px;
@inner-width: @total-width - (@gutter * 2) - (@content-border-width * 2);


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
#content {
  width: auto;
  height: auto;
  //min-height: 100%;
  margin-top: 41px; // Navigation bar's height.
  margin-bottom: @gutter;
  padding: @gutter @gutter 0 @gutter;
  background-color: @content-background-color;
  border: @content-border-width solid @content-border-color;
  .border-radius(0 0 2px 2px);
  .clearfix();
}

#content.no-top {
  margin-top: 0 !important;
}

#content.profile-top {
  margin-top: 41px !important;
}

#content.no-dropdown {
  padding-top: @gutter !important;
}