//! @file scrollable.less
//! @brief The scrollable container.
//! @author Filippo F. Fadda
//! @copyright REINDEX LTD


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
#scrollable {
  width: @total-width;
  //height: 100%;
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  //margin-top: 42 + @gutter; // Navigation bar's height + gutter.
  margin-top: @gutter;
  text-align: center;
}