//! @file tag.less
//! @brief A tag.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.tag {
  padding: 3px 5px 3px 5px !important;
  vertical-align: middle;
  text-transform: lowercase;
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: normal;

  color: @link-color;
  background-color: @gray-lighter;

  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid @gray-light;
  border-right: 1px solid @gray-light;

  &:hover,
  &:focus {
    text-decoration: none;

    color: @link-color-hover;
    background-color: @gray-light;

    border-bottom: 1px solid @link-color-hover;
    border-right: 1px solid @link-color-hover;
  }
}

// The popularity of a tag.
.popularity {
  color: @gray;
  vertical-align: bottom;
}


// ---------------------------------------------------------------------------------------------------------------------
// SUBCLASSES
// ---------------------------------------------------------------------------------------------------------------------
.tag.question {
  background-color: red;
  color: white;

  &:hover,
  &:focus {
    color: @link-color-hover;
    background-color: darken(red, 10%);
  }
}

.tag.link {
  background-color: cyan;
  color: @gray-dark;

  &:hover,
  &:focus {
    color: @gray-dark;
    background-color: darken(cyan, 10%);
  }
}

.tag.article {
  background-color: #4CAE4C;
  color: white;

  &:hover,
  &:focus {
    color: white;
    background-color: darken(#4CAE4C, 10%);
  }
}

.tag.book {
  background-color: saddlebrown;
  color: white;

  &:hover,
  &:focus {
    color: white;
    background-color: darken(saddlebrown, 10%);
  }
}

.tag.tutorial {
  background-color: pink;
  color: @gray-dark;

  &:hover,
  &:focus {
    color: @gray-dark;
    background-color: darken(pink, 10%);
  }
}