//! @file pills.less
//! @brief Pills.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// SETTINGS
// ---------------------------------------------------------------------------------------------------------------------
@pills-border-width: 1px;
@pills-color: @gray;
@pills-background-color: white;
@pills-background-color-hover: @gray-light;
@pills-border-color: @gray-light;


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.list.pills {
  margin-bottom: @gutter;
}

.list.pills > li {
}

.list.pills > li + li > * {
}

.list.pills > li > * {
  margin-right: 4px;
  padding: 5px 6px 5px 6px;
}

.list.pills > li > a {
  .border-radius(4px);

  color: @pills-color;
  background-color: @pills-background-color;

  &:hover,
  &:focus {
    border-color: @pills-border-color;
    background-color: @pills-background-color-hover;
  }
}

.list.pills > .active > a {
  font-weight: bold;
  color: @gray-darker;
  border: 1px solid @pills-border-color;
}

.list.pills > .active > a,
.list.pills > .active > a:hover,
.list.pills > .active > a:focus {
  background-color: transparent;
}

.list.pills > .icon > a:hover,
.list.pills > .icon > a:focus {
  color: @link-color-hover;
  background-color: transparent;
}


// ---------------------------------------------------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------------------------------------------------
.list.pills > li > a.blue {
  #pill(white, @blue, darken(@blue, 5%));
}

.list.pills > li > a.green {
  #pill(white, @green, darken(@green, 5%));
}

.list.pills > li > a.orange {
  #pill(white, @orange, darken(@orange, 5%));
}

.list.pills > li > a.red {
  #pill(white, @red, darken(@red, 5%));
}

.list.pills > li > a.cyan {
  #pill(white, @cyan, darken(@cyan, 5%));
}


// ---------------------------------------------------------------------------------------------------------------------
// MIXINS
// ---------------------------------------------------------------------------------------------------------------------
#pill(@color, @background-color, @border-color) {
  color: @color !important;
  #gradient > .vertical(lighten(@background-color, 5%), @background-color);
  border-color: @border-color !important;

  &:hover,
  &:focus {
    #gradient > .vertical(@background-color, darken(@background-color, 5%));
  }
}