//! @file toolbar.less
//! @brief Toolbar.
//! @author Filippo F. Fadda
//! @copyright 3F s.a.s. di Filippo Fadda


// ---------------------------------------------------------------------------------------------------------------------
// CSS
// ---------------------------------------------------------------------------------------------------------------------
.list.toolbar {
  display: block;
  margin-bottom: @gutter;
  //background-color: @gray-light;
  //#gradient > .vertical(lighten(@link-color, 40%), lighten(@link-color, 35%));
  //padding: 5px;
  //border: 1px solid @gray-lighter;
  //.border-radius(4px);
}

.list.toolbar > li {
  display: inline-block;
}

.list.toolbar > li + li {
  margin-left: 10px;
}

.list.toolbar > li > * {
  float: left;
  padding: 1px 5px 1px 5px !important;
  font-weight: bold;
}


.toolgroup {

}

.toolgroup > .button {
  //border: none;
}

.toolgroup > .button:first-child {
  //border-right: none;
  .border-radius(2px 0 0 2px);
}

.toolgroup > .button:last-child {
  border-right: 1px solid darken(@gray-lighter, 5%);
  .border-radius(0 2px 2px 0) !important;
}

.toolgroup > .button + .button {
  border-left: none;
  border-right: 1px solid darken(@gray-lighter, 5%);
  .border-radius(0);
}